body{
	background-color: grey;
}

.cool{
	visibility: hidden;
	width: 100px;
	height: 100px;
	background-color: green;
	transition: background-color 2s;
}

.cool.red{
	visibility: visible;
	background-color: red;
}